@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("background-picture.jpg");
  background-size: cover;
  background-position: bottom;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}
.quote-container{
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 10px 10px 10px rgba(79, 77, 77, 0.2);
}
.button-container{
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
}
button{
  cursor:pointer;
  font-size: 1.2rem;
  border:none;
  border-radius: 10px;
  outline:none;
  color:#fff;
  background: #333;
  padding:0.5rem 0.8rem;
  box-shadow:  0 0.3rem rgba(121,121,121,0.64) ;
}
button:hover{
  filter:brightness(1.3);
}
button:active{
  transform: translate(0,0.3rem);
  box-shadow:0 0.1rem rgba(255,255,255,0.65)
}
.twitter-button:hover{
  color: #38a1f3;
}
.fa-twitter{
  font-size: 1.5rem;
}
.quote-text{
  font-size: 2rem;
}
.long-quote{
  font-size: 1.5rem;
}
.fa-quote-left{
  font-size:3.5rem;
}
.quote-author{
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #db7f34;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* media queries */
@media screen and (max-width: 1000px){
  .quote-container{
    margin: auto 10px;
  }
  .quote-text{
    font-size: 1rem;
  }
}
